.textContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: white;
  height: 10%;
  width: 15%;
  justify-content: space-between;
  background-color: red;
}

.activeContainer {
  display: flex;
  align-items: center;
  color:black;
}

.activeItem {
  display: flex;
  align-items: center;
  color:black;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

.usersChat{
    color: black;
    position: fixed;
    top: 50%;
    z-index: 5;
    right: 21%;

}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}