.profile{

    padding-top: 40px
}

.profile #profile-img img{

    height: 100px;

    border: solid 5px #43506c
}

.profile #username p{

    font-size: 1.5em;
}

.profile #plans-container{

    position: relative;
    
    overflow-y: auto;
    overflow-x: hidden;
}

.profile hr{

    margin-left: -15px;
    margin-right: -15px
}

a[id*='back-arrow'], a[id*='back-arrow'] svg{

    transition: all;
    transition-duration: .5s;
}

#top-back-arrow.inactive{

    opacity: 0;
}

#plans-back-arrow.inactive svg{

    width: 0
}

@media (min-width: 300px) { 
  
  h1 {

    font-size: 2.5rem
  }
}

@media (min-width: 576px){

    .profile {

        padding-top: 54px;
    }

    .profile #profile-img img{

        height: 120px;
    }

    .profile #username p{

    font-size: 2em;
}
}