@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

body{

  font-family: 'Poppins', sans-serif;
}

h1{

  color: rgb(0, 0, 0);
  font-size: 2.3rem
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.submit-btn{

  background: linear-gradient(#53a6ff,#006adb);

  transition: all;
  transition-duration: .5s;
}

.submit-btn:disabled{
  
  background: linear-gradient(#006adb,#53a6ff);  
}

.marker{
  width:25px;
}

.plan-marker{
 
  width: 55px;
  height: 55px;
  background: #5f7ab8;
  border-radius: 50%;
  border:none;
}

.plan-marker img{
  filter: invert(100%);
  width: 35px;
  transition: all;
  transition-duration: .5s;
}

.plan-marker img:hover{
  width: 50px;
}

.highlight{
  width: 60px;
  height: 60px;
  background: #5f7ab8;
  border-radius: 50%;
  border:none;
}
.highlight img{
  filter: sepia(100%);

  width:30px;
  transition: all;
  transition-duration: .5s;
}




.cluster-marker{
  color:#fff;
  background: red;
  border-radius: 50%;
  padding: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 300px) { 
  
  h1 {

    font-size: 2.5rem
  }
}