.plan-new{

    padding-top: 40px
}

.plan-new h1{

    color: #43506c;    
}

.plan-new h1 span{

    color: #5f7ab8
}

/* FORM */

.plan-new-title{

    background-color: #43506c;
    color: white
}

.plan-new-title::placeholder {
    
    /* text-transform: uppercase; */
    font-weight: normal;
    color: white
}

.plan-new .form-location{

    background-color: #f8f8f8;
}

@media (min-width: 576px) { 
  
  .plan-new{

    padding-top: 54px;
  }
}