.cardPlan{
    background-color: #5f7ab8;
    z-index: 1;
    right: 19px;
    top: 20%;
    max-height: 70%;
    text-decoration: none;
    text-align: center;
    
    
}

.cardContainer {
    background-color: gray;
    position: absolute;
    z-index: 1;
    right: 19px;
    top: 25%;
    max-height: 70%;
    max-width: 15%;
    min-width: 15%;
    overflow: auto;
    text-decoration: none;
    width: 100%;
}

.cardContainer a{
    text-decoration: none;
    color:black;
}

.cardContainer::-webkit-scrollbar {
    width: 100%;     /* Tamaño del scroll en vertical */
    height: 100%; 
    display: none;
}


.cardSelected{
    background-color: green;
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
   
    
}

.cardUnselected{
    background-color: #5f7ab8;
    z-index: 1;
    right: 19px;
    top: 20%;
    max-height: 70%;
    text-decoration: none;
    text-align: center;
}

/*Media Queries*/

@media (max-width: 768px) { 
.cardContainer{
    position:relative;
    background-color: white;
    display:flex;
    right:0px;
    top:0px;
    max-width: 100%;
}


}