
.map{
height: '70vh';
width: '100%'
}


.popoverImage{
    width: 100%;
    padding:5px;
    object-fit: contain;
}

.filter{
    border:none;
    border-radius:50%
}


.filter img{
    width:20px;
}

.filtersButton{
   
    position: absolute;
    top:19%;
    left: 83%;
    display:flex;

}



