
.map{
    height: '70vh';
    width: '100%';
}

.popoverImage{
    width: 100%;
    padding:5px;
    object-fit: contain;
}

.filter{
    opacity: 1;
    transition: opacity 1s;
    border:none;
    border-radius:5px;
    margin:1px;
    
}


.filter img{
    width:25px;
    filter: invert(100%);
}

.filtersButton{

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top:30%;
    left: 15px;
    width: 114px;
    background-color: red;
    justify-content: center;      
}

.filtersButton .row{

    width: 100%;
}


.hide{
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}


.filterButton{
    position: absolute;
    top:5%;
    left:85%;
}

@media (min-width: 320px) and (max-width: 480px) {

.filtersButton{
    position: absolute;
    top: 8%;
    left: 72.7%;
    width: 18%;
    justify-content: center; 
}


}
