
.map{
height: '70vh';
width: '100%';

}


.popoverImage{
    width: 100%;
    padding:5px;
    object-fit: contain;
}

.filter{
    opacity: 1;
    transition: opacity 1s;
    border:none;
    border-radius:5px;
    margin:1px;
    
}


.filter img{
    width:25px;
    filter: invert(100%);
}

.filtersButton{
    
    display:flex;
    flex-wrap: wrap;
    position: absolute;
    top:9%;
    left: 82%;
    width: 18%;
    justify-content: center;
   
    
}


.hide{
  opacity: 0;
  transition: opacity 0.5s;
}


.filterButton{
    position: absolute;
    top:5%;
    left:85%;
}


